* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3rem; 
padding: 1.875rem; }

a {
  text-decoration: none;
  transition: all 0.8s ease-in-out; }

ul {
  list-style: none; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem; }

.py-1 {
  padding: 1.5rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.p-1 {
  padding: 1.5rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.my-1 {
  margin: 1.5rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.m-1 {
  margin: 1.5rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.bg-primary {
  background: coral;
  color: #f4f4f4; }

.bg-light {
  background: #f4f4f4;
  color: #333; }

.bg-dark {
  background: #333;
  color: #f4f4f4; }

.btn {
  padding: 1rem; }

.current {
  background: #bbeeff;
  color: #333;
  border-radius: 10px;
  padding: 10px; }

.heading {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  line-height: 2rem; }

.lead {
  line-height: 1.4rem;
  margin-bottom: 3rem; }

#main-logo {
  background: url("../img/logo.png") no-repeat center center;
  background-size: 100%;
  width: 100%;
  height: 40vh; }

.nav {
  width: 100%;
  height: 3.125rem;
  background-color: #333;
  border-radius: 3px; }
  .nav__container {
    display: inline-block;
    float: left;
    margin: .625rem;
      margin-top: 1rem;
    margin-left: 2.5rem; }
    .nav__container-link {
      color: white;
      font: inherit;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      transition: all .3s;
      padding: .4375rem; }
      .nav__container-link:hover {
        background-image: linear-gradient(to right, #F02844, #F57BA6);
        border: 5px solid transparent;
        border-radius: 3px; }

.about-a {
  background-color: #f4f4f4; }
  .about-a .history-box,
  .about-a .admission-box,
  .about-a .academic-program-box,
  .about-a .academic-formation-box {
    position: relative;
    background: #000;
    border: 5px solid #bbb;
    border-radius: 5px;
    margin-bottom: 1rem; }
  .about-a .history-box:before,
  .about-a .admission-box::before,
  .about-a .academic-program-box::before,
  .about-a .academic-formation-box::before {
    content: '';
    position: absolute;
    background: url("../img/history.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4; }
  .about-a-history, .about-a-admissions, .about-a-academic-programs, .about-a-academic-formation {
    position: relative;
    color: #f4f4f4;
    z-index: 1; }
  .about-a .admission-box::before {
    background: url("../img/admission.jpg") no-repeat center center/cover; }
  .about-a .academic-program-box::before {
    background: url("../img/academic_programs.jpg") no-repeat center center/cover; }
  .about-a .academic-formation-box::before {
    background: url("../img/academic_formation.jpg") no-repeat center center/cover; }
